@import '../../styles/variables';

.contact-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 3rem;

  @media (max-width: $lmd) {
    display: block;

    & > * {
      $width: 100%;
      width: $width;
      margin-bottom: 2rem;

      & > input {
        width: $width;
      }
    }
  }
}

.contact-message {
  color: var(--theme-color-sat);
  font-style: italic;
  font-weight: 500;
}
