@import './variables';
@import './theme-mixin';
@import '~bootstrap/scss/bootstrap-reboot';

:root {
  --font-xxxlarge: 2.5rem;
  --font-xxlarge: 2rem;
  --font-xlarge: 1.5rem;
  --font-large: 1.2rem;
  --font-size: 1rem;
  --font-small: 0.9rem;
  --font-xsmall: 0.85rem;
  --font-xxsmall: 0.8rem;
  --font-xxxsmall: 0.75rem;
  --btn-pad-x: 1em;
  --btn-pad-y: 0.625em;
  --btn-pad-x-sm: 0.625em;
  --btn-pad-y-sm: 0.375em;
  --btn-pad-x-md: 1.25em;
  --btn-pad-y-md: 0.75em;
  --btn-pad-x-lg: 2em;
  --btn-pad-y-lg: 1.25em;
  --compact-width: 960px;
  --compact-width-small: 768px;
  --trans-time: #{$trans-timing};
}

@mixin night-theme {
  @include palette($theme-color);

  --theme-color: var(--theme-color-25);
  --theme-color-shade: var(--theme-color-28);
  --theme-color-sat: #{desaturate($color: $theme-color, $amount: 40)};
  --theme-color-alt: var(--theme-color-15);

  --color-palette-red: #fc002a;
  --color-palette-green: #00ff62;
  --color-palette-blue: #003bfc;
  --color-palette-yellow: #fcd600;

  --bg: #{$bg-night};
  --bg-alt: #{$bg-night-tint};
  --bg-alpha: #{$black};
  --bg-revert: #{$white};
  --bg-article: #{lighten($black, 5.5)};
  --bg-input: var(--bg-alt);

  --fg: #{$fg-night};
  --fg-alt: #{$fg-alt-night};
  --fg-muted: #{$fg-muted-night};
  --fg-inline-code: #00bff9;

  --selection: var(--theme-color-35);
  --shade: #{$shade-night};
  --shade-alt: #{$shade-day};
  --card-shade: var(--bg-alpha);
  --input-shade: var(--bg-alpha);
  --card-gradient: linear-gradient(to right, var(--bg), var(--bg-alt));

  --presentation-stop-alpha: #{transparentize($bg-night, 0.5)};
  --presentation-stop-beta: #{transparentize($bg-night, 0.1)};
  --presentation-stop-gamma: var(--bg-article);
}

@mixin light-theme {
  @include palette($theme-color-alt);

  --theme-color: var(--theme-color-25);
  --theme-color-shade: var(--theme-color-31);
  --theme-color-sat: #{saturate($theme-color-alt, 20)};
  --theme-color-alt: var(--theme-color-35);

  --color-palette-red: #ac152e;
  --color-palette-green: #00ff62;
  --color-palette-blue: #003bfc;
  --color-palette-yellow: #fcd600;

  --bg: #{$bg-day};
  --bg-alt: #{$bg-day-shade};
  --bg-alpha: #{$white};
  --bg-revert: #{$black};
  --bg-article: var(--bg-alpha);
  --bg-input: var(--bg-alpha);

  --fg: #{$fg-day};
  --fg-alt: #{$fg-alt-day};
  --fg-muted: #{$fg-muted-day};
  --fg-inline-code: #ad2896;

  --selection: var(--theme-color-15);
  --shade: #{$shade-day};
  --shade-alt: #{$shade-night};
  --card-shade: #{transparentize($black, 0.8)};
  --input-shade: #{transparentize(lighten($black, 10), 0.9)};
  --card-gradient: linear-gradient(to right, var(--bg-alpha), var(--bg-alt));

  --presentation-stop-alpha: #{transparentize($bg-day, 0.5)};
  --presentation-stop-beta: #{transparentize($bg-day, 0.1)};
  --presentation-stop-gamma: var(--bg-article);
}

html {
  &.dark {
    @include night-theme;
  }

  &.light {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    @include night-theme;
  }
}

@media (prefers-color-scheme: light) {
  html {
    @include light-theme;
  }
}

@media (prefers-color-scheme: no-preference) {
  html {
    @include night-theme;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    --trans-time: 0s;
    transition: none !important;

    &:hover {
      --trans-time: 0s;
      transition: none !important;
    }
  }
}

::selection {
  background: var(--selection);
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;

  &-track {
    background: var(--bg-alpha);
  }

  &-thumb {
    background: var(--theme-color-sat);
    border-radius: 50px;
  }
}

*,
html {
  @supports (scrollbar-width: thin) {
    scrollbar-width: thin;
    scrollbar-color: var(--theme-color-sat) var(--bg-alpha);
  }
}

a {
  &:hover {
    text-decoration: none;
  }

  &:not([class]) {
    color: var(--fg-alt);
    font-style: oblique;
    position: relative;
    box-shadow: 0 0.5px 0 0 var(--theme-color-sat);
    z-index: 1;
    // text-shadow: 0 1px var(--bg-alpha);

    &:hover {
      color: var(--theme-color-sat);
      box-shadow: 0 1.5px 0 0 var(--theme-color-sat);
      transition: box-shadow linear var(--trans-time);
    }
  }
}

code {
  background: var(--bg-alt);
  color: var(--fg-inline-code);
  font-style: italic;
  padding: 0.085rem 0.175rem;
  border-radius: 5px;
  word-break: break-word;
}

.compact-content {
  overflow: hidden;
}

.global-compact--layout {
  max-width: var(--compact-width);
  margin: 0 auto;
}

.global-compact--layout--sm {
  max-width: var(--compact-width-small);
  margin: 0 auto;
}

.global-alt-text {
  color: var(--theme-color-alt);
  font-family: 'Inconsolata', 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
    'Lucida Console', $font-family-monospace;
}

/**
 * Styles affecting blog post layout and elements within
 * the <article> element <main> child
 */

main {
  p,
  ul,
  ol {
    margin-bottom: 1.75rem;
  }

  h2[id],
  h3[id],
  h4[id],
  h5[id],
  h6[id] {
    font-family: 'Domine';
    margin-bottom: 1.75rem;

    & svg,
    & a {
      opacity: 0;
      visibility: hidden;
      display: inline-block;
      color: var(--fg-alt);
      width: 1.5rem;
      height: 1.5rem;
      margin-left: -1.5rem;
    }
    &:hover a {
      opacity: 1;
      color: var(--fg);
      visibility: visible;
      transition: opacity linear calc(var(--trans-time) * 2);
    }
  }

  .gatsby-resp-image-wrapper {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}

/**
 * Code styling
 */

// .gatsby-highlight {

// }

.gatsby-highlight-code-line {
  background-color: rgba(120, 120, 120, 0.2);
  display: table;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid var(--theme-color-sat);
  min-width: max-content;
}

pre[class*='language-'] {
  font-size: 0.95rem;
  margin: 0 0 1.75rem;
  padding: 1em;
  overflow: auto;
  border-radius: 10px;

  @media (max-width: $lmd) {
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: revert;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, 0.7);
    border-radius: 0;
  }
}

/**
 * If you only want to use line numbering
 */

.gatsby-highlight pre[class*='language-'].line-numbers {
  padding: 0 5em;
  padding-left: 2.8em;
  overflow: initial;
}

.line-numbers .line-numbers-rows {
  padding: 0 0 0 0.625em;
}
