@import '../../styles/variables';

.contact-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 3rem;

  @media (max-width: $lmd) {
    display: block;
    & > * {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

.contact-message {
  color: var(--theme-color-sat);
  background-image: linear-gradient(
    to right,
    var(--theme-color-alt),
    var(--theme-color-sat)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: 500;
}
