.card {
  position: relative;
  background: var(--bg-alt);
  background: var(--card-gradient);
  padding: 1rem;
  border-radius: 7px;
  min-width: 12.5rem;
  max-width: 12.5rem;
  border: 1px solid var(--shade);
  box-shadow: 5px 5px 15px var(--card-shade);

  &:not(:last-of-type) {
    margin-right: 1.5rem;
  }

  &::before {
    --size-shift: 0.5rem;
    content: "";
    width: calc(100% - var(--size-shift));
    height: calc(100% - var(--size-shift));
    border: 1px solid var(--theme-color-sat);
    position: absolute;
    border-radius: 7px;
    border-image: linear-gradient(to top, var(--theme-color-sat), var(--theme-color-alt));
    border-image-width: 1px;
    border-image-slice: 1;
    left: calc(var(--size-shift) / 2);
    top: calc(var(--size-shift) / 2);
    pointer-events: none;
  }
}

.card-link {
  color: inherit;
  display: block;
  font-weight: 700;
  line-height: 1.5;
  transition: color linear var(--trans-time);
  &:hover {
    text-decoration: none;
    color: var(--fg-muted);
  }
}

.card-footer {
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0 1em;
}

.card-avatar {
  width: 48px;
  height: 48px;
  margin-left: -0.25rem !important;
  margin-bottom: -0.5rem !important;
  svg {
    ellipse {
      stroke-width: 2px;
    }
  }
}

.card-excerpt {
  font-size: var(--font-xxsmall);
}
